.product{
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 0 5%;
    margin-top: 5vh;
}
.details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
