<div class="navbar">
    <div class="navbar-item">
        <img src="/assets/images/angular.png" routerLink="/home" alt="" width="50px">
        <b style="font-size: medium;">Happy Shopping</b>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." [(ngModel)]="typed">
        <datalist id="datalistOptions">
            <option *ngFor="let product of products" value="{{product.title}}"></option>
        </datalist>
        <i class="fas fa-search" (click)="goToProduct()"></i>
    </div>
    <div class="navbar-item">
        <i class="fas fa-home" routerLink="/home"></i>
        <i class="fas fa-shopping-cart demo-section" routerLink="/cart"><span *ngIf="count > 0">{{count}}</span></i>
        <i class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" class="fa fa-user-circle-o" aria-haspopup="true" aria-expanded="false"></i> 

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 30vh;margin-right: 2%">
            <a class="dropdown-item">My profile</a>
            <a class="dropdown-item">My Orders</a>
            <a class="dropdown-item">Signout</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>